<!DOCTYPE html>
<html>
  <head>
    <title>Binary to nucleo</title>
    <h1>Convert Binary Code to Nucleotidecode</h1>

    <link rel='stylesheet' href="https://bootswatch.com/4/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>


    <div class="container">
      <h3 align="right"><a href="/entries/newEntry">Add an Entry</a></h3>
      <h1>Translation Entries</h1>
      <% if(entries.length>0) { %>
      <table>
        <thead>
          <tr>
            <th> Title</th>
            <th> Binary Code</th>
            <th> Nucletotide Sequence<th>
          </tr>
        </thead>

        <tbody>

          <% for(var i=0; i<entries.length;i++) { %>
            <tr>
              <td><a href="/<%= entries[i]._id%>"><%= entries[i].title%></a></td>
              <td><%= entries[i].binaryCode%></td>
              <td><%= entries[i].nucleotideSequence%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No entries found.</div>
      <% } %>
    </div>
  </body>
</html>
