<!DOCTYPE html>
<html>
  <head>
    <title>Add an Entry</title>
    <link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h3><a href="/">Entries List</a></h3>
      <h1>Add a New Entry</h1>
      <form action="/entries" method="post">
        <table>
          <tbody>
            <tr>
              <td>Title</td>
              <td><input type="text" name="title" /></td>
            </tr>
            <tr>
              <td>binaryCode</td>
               <td><textarea name="binaryCode"></textarea></td>
            </tr>
            <tr>
              <td>nucleotideSequence</td>
               <td><textarea name="nucleotideSequence"></textarea></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save Changes</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
