<!DOCTYPE html>
<html>
  <head>
    <title>Add an Entry</title>
    <link rel='stylesheet' href="https://bootswatch.com/4/superhero/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h3><a href="/">Entries List</a></h3>
      <h1>Add a New Entry by Uploading your file</h1>
      <form action="/entries" method="post" encType='multipart/form-data'>
        <table>
          <tbody>
            <div class='form-group'>
                <tr>
                    <td><input type='file' name ='binaryCode' id='file' class='btn btn-outline-success btn-block'   accept='image/*,video/*,audio/*,.txt'></td>
                </tr>
            </div>
            <div class='form-group'>
                <tr>
                  <td>Title</td>
                  <td><input type="text" name="title" /></td>
                </tr>
            </div>
            <tr>
              <td colspan="2"><button type="submit" name="Submit" value="Save">Save Changes</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
